@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 35px;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.header__menu {
	/* display: flex; */
	align-items: center;
	background-color: rgba(0, 89, 127, 0.95);
	color: #fff;
}

.nav__menu {
	padding: 20px 0 20px 0;
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	list-style: none;
	gap: 25px;
	margin-left: auto;
}

.nav__list a {
	text-decoration: none;
	color: #fff;
}

.nav__list a:hover {
	color: gray;
	text-decoration: underline;
	transition: all ease 0.3s;
}

.info {
	min-height: 700px;
	width: 100%;
	background-color: #1E4556;
	color: #fff;
	text-align: center;
}

.photo {
	margin-top: 80px;
	border: 1px solid #00B1FF;
	border-radius: 50%;
	max-width: 300px;
}

.i-text {
	font-size: 25px;
}

.aboutme {
	min-height: 700px;
	width: 100%;
	background-color: #132328;
	color: #fff;
	text-align: center;
	padding-bottom: 100px;
}

.h-sec {
	color: #fff;
	padding-top: 80px;
	padding-bottom: 50px;
}

.text-sec2 {
	margin: 0 auto;
	border-left: 1px solid #000;
	border-radius: 20px;
	text-align: left;
	max-width: 900px;
	background-color: rgba(53, 133, 168, 0.4);
	padding: 25px 30px;
	border-left: 2px solid #00B1FF;
	border-right: 2px solid #00B1FF;
}


.text-sec2 p {
	margin-bottom: 2px;
	max-width: 800px;
}

.t-def {
	font-size: 20px;
}

.t-font {
	font-size: 35px;
	margin-bottom: 15px;
}

.t-space {
	font-size: 25px;
	padding-top: 20px;
}

.services {
	min-height: 700px;
	width: 100%;
	background-color: #1E4556;
	font-size: 22px;
	text-align: center;
}

.main__cards {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;
}

.card-m {
	max-width: 300px;
	min-height: 400px;
	width: 100%;
	border: 2px solid #00B1FF;
	border-radius: 20px;
	margin-left: 20px;
	padding-top: 30px;
	margin-bottom: 20px;
	background-color: #D9D9D9;
	align-items: center;
}

.myportfolio {
	min-height: 700px;
	width: 100%;
	background-color: #132328;
	font-size: 22px;
	text-align: center;
}

.text-card {
	display: flex;
	align-items: baseline;
	margin-left: 30px;
	margin-right: 30px;
}

.card-m p {
	max-width: 210px;
	margin-top: 25px;
	text-align: left;
}

.text-card a {
	margin-left: auto;
}

.btn {
	margin-left: auto;
	border-radius: 8px;
	width: 50px;
	height: 50px;
	border: none;
}

.btn:hover {
	transition: all ease 0.3s; 
}

.mytech {
	min-height: 700px;
	width: 100%;
	background-color: #1E4556;
	color: #000;
	text-align: center;
	padding-bottom: 100px;
}

.main__cards-t {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
	flex-wrap: wrap;
	align-items: center;
}

.card-t {
	max-width: 300px;
	min-height: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: #D9D9D9;
	border-left: 2px solid #00B1FF;
	border-right: 2px solid #00B1FF;
	padding: 0 25px;
}

.card-fz {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.card-t img {
	margin-top: 20px;
}

.footer {
	min-height: 150px;
	background-color: #005980;
	color: #fff;
}

.footer-main {
	padding-top: 20px;
	display: flex;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	gap: 30px;
}

.footer-sec {
	display: flex;
	flex-direction: column;
}

.footer-con a {
	color: #fff;
	text-decoration: none;
}

.footer-con a:hover {
	color: gray;
	text-decoration: underline;
	transition: all ease 0.3s;
}

.footer-con p {
	display: flex;
	padding-top: 10px;
	align-items: center;
	gap: 5px;
}

.footer-f {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}